# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/

# venvs
.venv/
env/
venv/

# git
.git/
.gitignore

# tests & tooling not needed in runtime image
tests/
playwright-report/
node_modules/

# local db
app.db
