# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtualenvs
.venv/
venv/
env/

# Playwright
playwright-report/
test-results/
blob-report/
.trace/
*Playwright*

# Node / misc
node_modules/

# Local DB / artifacts
app.db

# OS/editor
.DS_Store
*.swp
